body {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    width: 100%;
    height: 100%;
    background-color: darkslategray;
    background-repeat: no-repeat;
    background-size: auto;

}

.wrapper {
    max-width: 1200px;
    margin: auto;
    height: auto;
    background-color: tan;
    border-width: 5px;
    border-style: double;
    border-color: maroon;
}

.content {
    width: 1000px;
    line-height: 30px;
    height: auto;
    margin-bottom: 20px;

}

.content > h2 {

    font-size: 35px;
    padding-left: 25px;
    text-decoration: underline;

}

.content > img {

    display: inline-block;
    height: 352px;
    width: 1150px;
    margin-left: 25px;
    margin-top: 25px;
    border-style: double;
    border-color: maroon;
 

}


.content > p {

    margin-top: 20px;
    padding-left: 25px;
    text-align: left;
    width: 1160px;
    font-size: 20px;
}

header {
    background-image: url(../images/Banner1.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 150px;
    overflow: hidden;
    border-style: solid;
    border-color: black;
}

header > h1 {

    font-size: 90px;
    float: left;
    padding: 20px;
    margin-top: 30px;


}

footer {
    text-align: center;
    clear: both;
    padding: 5px;
    background-color: maroon;
    height: 30px;
    border: 5px double #373737;
    color:tan;
}

footer > p {

    font-weight: 200;
    margin: 10px;

}

nav {
    text-align: center;
    padding: 10px;
    background-color: maroon;
    border: 5px double #373737;
}

nav > a {
        text-decoration: none;
        padding: 25px;
        font-size: 125%;
        color: tan;
        font-weight: bold;
}

.panels {
    font-size: 25px;
    padding-left: 25px;
    text-decoration: underline;
}

#userInfo {
    padding: 15px;
    margin: 10px;
}

    #userInfo span {
        display: inline-block;
        width: 90px;
        text-align: right;
        padding: 10px;
    }

    #userInfo input {
        width: 125px;
    }

    #userInfo h2 {
        font-size: 35px;
        padding-left: 25px;
        text-decoration: underline;
    }

    #item {

        padding-left: 25px;

    }

        #item h2 {
            font-size: 35px;
            text-decoration: underline;
        }